.sandbox {
    border: 1px solid #CCC;
    border-radius: .25em;
    padding-top: .2em;
    padding-left: .6em;
    padding-bottom: .2em;
    padding-right: .6em;
}

.item a {
    margin-left: .2em;
    border-left: 1px solid #DDD;
    padding-left: .5em;
    padding-right: .2em;
    color: #FFF
}

.item {
    margin-right: .3em;
    padding-bottom: .3em;
    padding-top: .3em;
    padding-left: .3em;
}

.sandbox input {
    border: none !important;
    border-color: white !important;
    box-shadow: none !important;
}

.sandbox .autocomplete, .item {
    display: inline-block;
}

.sandbox.disabled {
    background: #EEE;
}

.sandbox.disabled * {
    color: #DDD;
}


.sandbox .autocomplete input {
    border: none;
}

.sandbox.disabled .remove {
    color: #aaa;
}