<script type="text/x-template" id="tagging-template">
<div :class="rootClass" >
<div @click="focus" >
     <span v-for="(value, index) in values">
        <div :class="'item ' + label_class " :idx="index">
		    <input type="hidden" :name="nameField(index)" v-model="value[name_field]"> 
		    <input type="hidden" :name="idField(index)" v-model="value[id_field]" v-if="include_id" /> 
            <span @click.stop="labelFocus">{{ getLabel(value) }} </span>
			 <a href="#" class="remove" tabindex="-1" title="Remove" @click="remove(index)">×</a>
        </div>
    </span>
    <autocomplete :url="autocomplete_url"
        :suffix="autocomplete_suffix" field="term"
        :resultsuffix="result_suffix" :deletekey="deleteLast" :disabled="disabled"
        :enterkey="addEntry" :anykey="watchEntry"
        @autocompletevalueset="addAutocompleteValue" ref="input"
        fieldname="ignoretitle" :allowCreate="allow_create" idname="igoreid" />
</div>
</div>
</script>